
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your order has been successfully processed</h2>
<h4>@ViewBag.name @ViewBag.lname Thanks for Using 𝐊𝐞𝐭𝐚𝐛𝐲 | كتابي ♥ </h4>
