@{
    ViewBag.Title = "Admin panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="btn-group btn-group-lg mb-2">
    @Ajax.ActionLink("Books", "GetAllBooks","Book",null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "updateAdminPanel"
}, new { @class = "btn btn-primary" })
    @Ajax.ActionLink("Authors", "GetAllAuthors", "Author", null, new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "updateAdminPanel"
    }, new {@class = "btn btn-primary"})

    @Ajax.ActionLink("Genres", "GetAllGenres", "Genre", null, new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "updateAdminPanel"
    }, new {@class = "btn btn-primary"})
</div>
<div id="updateAdminPanel">
    @Html.Partial("ShowBooks")
</div>



